<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bundles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B303350E1D93B2BF0043CAE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B30335221D93B2BF0043CAE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B303352D1D93B2BF0043CAE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
